{% extends "emtp.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Profile
{% endblock %}


{% block body %}
    <!-- Nav Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Bookshelf</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/profile/{{ current_user.id }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/notification/1"><span class="glyphicon glyphicon-bell"></span> Notification</a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
          <form method="post" action="{{ url_for('home') }}" class="navbar-form navbar-right">
            <div class="form-group">
            <span class="glyphicon glyphicon-search"></span>
                {{ form.csrf_token }}
                {{ wtf.form_field(form.search, **{'placeholder':'Search a book ...'}) }}
            </div>
        <button type="submit" class="btn btn-default" value="submit">Submit</button>
      </form>
        </div>
      </div>
    </nav> <!-- end of nav bar -->
    <!-- side bar -->
     <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img class ="img-square"  src="{{ url_for('static', filename='image/default.jpg') }}" width="200" height="200" alt="Generic placeholder thumbnail">
                </div>
          </ul>
          <ul class="nav nav-sidebar">
            <li><a href="/profile/{{ user_id }}">Profile</a></li>
            <li class="active"><a href="/profile/bookshelf/{{ user_id }}/1">Bookshelf<span class="sr-only">(current)</span></a></li>
            <li><a href="/profile/rate_and_comment">Comments and rating</a></li>
          </ul>
        </div>
          <!-- Contetnt -->
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
              {% if not books.items %}
           <h1 class="page-header">Bookshelf</h1>
          <div class="row placeholders">
                  <div class="row">
                      <h1>Search: {{ searchid }} - Result not found!</h1>
                  </div>
          </div>
              {% else %}
                  <div class="page-header">
                   <ul class="list-inline">
                      <li><h1>Bookshelf</h1></li>
                       <li>
                           <form action="{{ url_for('bookshelf', user_id=user_id, page_num=1) }}" method ='post'>
                               {{ booksearch.csrf_token }}
                               {{ wtf.form_field(booksearch.search, **{'placeholder':'Search a book ...'}) }}
                           </form>
                       </li>
                   </ul>
                  </div>
          <div class="row placeholders">
                  <div class="row">
                        {% for book in books.items %}
                            {% if book.quantity != 0 %}
                                <div class="col-lg-6 bg-info" style="padding-top: 2%; padding-bottom: 2%">
                                <img class ="img-square" src="data:image/gif;base64,R0lGODlhAQABAIAAAHd3dwAAACH5BAAAAAAALAAAAAABAAEAAAICRAEAOw==" width="150" height="150" alt="Generic placeholder thumbnail">
                                <a href="/book/{{ book.book_id }}"><h3>{{ book.containsbooks.title }}</h3></a>
                                <span class="text-muted">Edition: {{ book.containsbooks.edition }}</span><br>
                                <span class="text-muted">Type: {{ book.containsbooks.types }}</span><br>
                                <span class="text-muted">Year Published: {{ book.containsbooks.year_published }}</span><br>
                                <span class="text-muted">Author: {{x[loop.index-1]}} {{y[loop.index-1]}}</span><br>
                                <h3>Rate</h3>
                                    <form action ="/rateBook/{{ book.book_id }}" method = "POST">
                                        <input type="radio" name="rateUser" value=1 /> 1
                                        <input type="radio" name="rateUser" value=2 /> 2
                                        <input type="radio" name="rateUser" value=3 /> 3
                                        <input type="radio" name="rateUser" value=4 /> 4
                                        <input type="radio" name="rateUser" value=5 /> 5<br>
                                        <textarea rows="4" cols="50" name="comment" id="comment"></textarea><br>
                                        <input type="submit" class="btn btn-default" value="Rate and Comment">
                                    </form>
                                    <a href="/borrow/{{user_id}}/{{ book.containsbooks.book_id }}" class="btn btn-info" role="button">Borrow</a>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
          <div class="footer">
              {% for page in books.iter_pages(left_edge=3,right_edge=3,left_current=3,right_current=3) %}
                    {% if page %}
                         <a href="{{ url_for('bookshelfsearch', user_id=user_id, page_num=page, searchid=search1) }}">{{ page }}</a>
                    {% else %}
                        ....
                    {% endif %}
              {% endfor %}
           </div>
          </div>
              {% endif %}
          </div>
        </div>
</div><!-- end of side bar -->
{% endblock %}
