{% extends "emtp.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
    Profile
{% endblock %}


{% block body %}
    <!-- Nav Bar -->
    <nav class="navbar navbar-default navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="/home">Bookshelf</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/home"><span class="glyphicon glyphicon-home"></span> Home</a></li>
            <li><a href="/profile/{{ current_user.id }}"><span class="glyphicon glyphicon-user"></span> Profile</a></li>
            <li><a href="/notification"><span class="glyphicon glyphicon-bell"></span> Notification
            {% if count %}
                <span class="badge pull-right">{{ count }}</span>
            {% endif %}
            </a></li>
            <li><a href="/logout"><span class="glyphicon glyphicon-log-out"></span> Log out</a></li>
          </ul>
          <form method="post" action="{{ url_for('home') }}" class="navbar-form navbar-right">
            <div class="form-group">
            <span class="glyphicon glyphicon-search"></span>
                {{ form.csrf_token }}
                {{ wtf.form_field(form.search, **{'placeholder':'Search a book ...'}) }}
            </div>
        <button type="submit" class="btn btn-default" value="submit">Submit</button>
      </form>
        </div>
      </div>
    </nav> <!-- end of nav bar -->
    <!-- side bar -->
     <div class="container-fluid">
      <div class="row">
        <div class="col-sm-3 col-md-2 sidebar">
          <ul class="nav nav-sidebar">
            <div class="col-xs-6 col-sm-3 placeholder">
                <img class ="img-circle" src="{{ url_for('static', filename='image/default.jpg') }}" width="200" height="200" alt="Profile Picture">
            </div>
          </ul>
          <ul class="nav nav-sidebar">
              <li class="active"><a href="/profile/{{ current_user.id }}">Profile<span class="sr-only">(current)</span></a></li>
            <li><a href="/profile/bookshelf/{{ current_user.id }}/1">Bookshelf</a></li>
            <li><a href="/profile/rate_and_comment/{{ current_user.id }}">Comments and rating</a></li>
            <li><a href="/actLogs">Activity Logs</a></li>
          </ul>
        </div>
          <!-- Contetnt -->
          <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
          <h1 class="page-header">My profile</h1>
              <div class="col-lg-6 bg-success" style="text-align: center; padding: 2%">
                  <h3>First name: {{ current_user.first_name }}</h3>
                  <h3>Last name: {{ current_user.last_name }}</h3>
                  <h3>Sex: {{ current_user.sex }}</h3>
                  <h3>Contact Number: {{ current_user.contact_number }}</h3>
                  <h3>Birthdate: {{ current_user.birth_date }}</h3>
                  <a href="/profile/edit/{{ current_user.id }}" class="btn btn-primary">Update</a>
              </div>
          </div>
        </div>
</div><!-- end of side bar -->
{% endblock %}
