<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>

<body>
    <form action = "/searchGet" method = "POST">
    <li><input type="text" name = "search"/></li><br>
    </form>

    <br><br><br>
    <div style="float:right; width:790px; margin:0 auto;">
        <form action="/view">
            <input type="submit" value="View All" />
        </form>
    </div>
	<div style="width:340px; margin:0 auto;"><form action = "{{ url_for('adder') }}" method = "POST">
    	<input type="submit" value="Add" />
        <font color="white">
                    <div class="container">
                        {% include 'message.html' %}
                        {% block body %}{% endblock%}
                    </div>
        </font>
	</form></div><br>
        <table  class="table table-bordered">
	<thead>
		<td>Rate</td>
    	<td>Title</td>
    	<td>Year Published</td>
		<td>Type</td>
		<td>Author</td>
		<td>Edition</td>
		<td>ISBN</td>
		<td>Rating</td>

	</thead>
		{% for stud in studs %}
		<tr>
			<form action = "{{ url_for('deletefunc') }}" method = "POST">

				<td><input type="radio" name="rate" value=0 checked> None
				<input type="radio" name="rate" value=1 /> 1
				<input type="radio" name="rate" value=2 /> 2
  				<input type="radio" name="rate" value=3 /> 3
				<input type="radio" name="rate" value=4 /> 4
				<input type="radio" name="rate" value=5 /> 5
				<input type="submit" class="btn" formaction="/" value="Submit">
                </td>
            <td bgcolor="#f9ebf2"><font color="#b97a46">{{stud["title"]}}</font></td>
            <td bgcolor="#f9ebf2"><font color="#b97a46">{{stud["year"]}}</font></td>
			<td bgcolor="#f9ebf2"><font color="#b97a46">{{stud["type"]}}</font></td>
			<td bgcolor="#f9ebf2"><font color="#b97a46">{{stud["author"]}}</font></td>
			<td bgcolor="#f9ebf2"><font color="#b97a46">{{stud["edition"]}}</font></td>
			<td bgcolor="#f9ebf2"><font color="#b97a46">{{stud["isbn"]}}</font></td>
			<td bgcolor="#f9ebf2"><font color="#b97a46">{{stud["rating"]}}</font></td>
			<td><input type="hidden" name="Store" value = {{stud["bookid"]}}></td>
			<td><input type ="submit" class="btn btn-primary" value ="Delete"></td>
			<td><input type ="submit" class="btn btn-primary" formaction = "/updateBook" value ="Update"></td>
			</form>
		</tr>
		{% endfor %}


	</table>


</body>



</html>
