{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}
Register
{% endblock %}

{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-12 col-md-4 well well-sm">
            <legend> Sign up!</legend>
            <form action="/signup" method="post" class="form" role="form" autocomplete="off">
                {{ form.csrf_token }}
            <div class="row">
                <div class="col-xs-6 col-md-6">
                    {{ wtf.form_field(form.first_name) }}
                </div>
                <div class="col-xs-6 col-md-6">
                    {{ wtf.form_field(form.last_name) }}
                </div>
            </div>
            {{ wtf.form_field(form.contact) }}
            {{ wtf.form_field(form.username) }}
            {{ wtf.form_field(form.password) }}
            {{ wtf.form_field(form.confirm) }}
            <label>Birth Date</label>
            <div class="row">
                <div class="col-xs-4 col-md-4">
                        {{ wtf.form_field(form.month) }}
                </div>
                <div class="col-xs-4 col-md-4">
                       {{ wtf.form_field(form.day) }}
                </div>
                <div class="col-xs-4 col-md-4">
                        {{ wtf.form_field(form.year) }}
                </div>
            </div>
            <label class="radio-inline">
                {{ wtf.form_field(form.sex) }}
            </label>
            <br />
            <br />
            <button class="btn btn-lg btn-primary btn-block" type="submit">
               Create Account</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}