<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Log in</title>
</head>
<body>
    {% from "_helperhtml.html" import render_field %}
<form method='post' action="/login">
  <dl>
    {{ render_field(form.hidden_tag) }}
    {{ render_field(form.username) }}
    {{ render_field(form.password) }}
      {% with messages = get_flashed_messages() %}
        {% if messages %}
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        {% endif %}
    {% endwith %}
  </dl>
  <p>{{ form.submit }}
</form>
Dont have an account?<a href="/signup">Sign up here</a>
</body>
</html>